<div th:fragment="navbar">
    <header class="flex justify-end items-center p-3 bg-blue-300">
        <h1 class="cursor-pointer mr-auto">Grocery Store</h1>
        <nav>
            <ul class="list-none">
                <!-- Manager-specific links -->
                <li th:if="${role == 'manager'}" class="inline-block px-5">
                    <a th:href="@{/manager/home}" class="transition-all duration-300 ease-in-out hover:text-purple-400">Home</a>
                </li>
                <li th:if="${role == 'manager'}" class="inline-block px-5">
                    <a th:href="@{/manager/add-product}" class="transition-all duration-300 ease-in-out hover:text-purple-400">Add Product</a>
                </li>
                <li th:if="${role == 'manager'}" class="inline-block px-5">
                    <a th:href="@{/manager/products}" class="transition-all duration-300 ease-in-out hover:text-purple-400">View Products</a>
                </li>
                <li th:if="${role == 'manager'}" class="inline-block px-5">
                    <a th:href="@{/manager/inventory-files}" class="transition-all duration-300 ease-in-out hover:text-purple-400">Save/Load Inventory</a>
                </li>

                <!-- Customer-specific links -->
                <li th:if="${role == 'customer'}" class="inline-block px-5">
                    <a th:href="@{/customer/home}" class="transition-all duration-300 ease-in-out hover:text-purple-400">Home</a>
                </li>
                <li th:if="${role == 'customer'}" class="inline-block px-5">
                    <a th:href="@{/customer/products}" class="transition-all duration-300 ease-in-out hover:text-purple-400">View Products</a>
                </li>
                <li th:if="${role == 'customer'}" class="inline-block px-5">
                    <a th:href="@{/customer/cart}" class="transition-all duration-300 ease-in-out hover:text-purple-400">View Cart</a>
                </li>
                <li th:if="${role == 'customer'}" class="inline-block px-5">
                    <a th:href="@{/customer/checkout}" class="transition-all duration-300 ease-in-out hover:text-purple-400">Checkout</a>
                </li>

                <!-- Common links -->
                <li class="inline-block px-5"><a th:href="@{/}" class="transition-all duration-300 ease-in-out hover:text-purple-400">Logout</a></li>
            </ul>
        </nav>
    </header>
</div>