<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Grocery Store</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="http://localhost:35729/livereload.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Navbar Fragment -->
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <!-- Main Content (specific to each page) -->
        <div class="content">
            <div th:replace="~{${content} :: content}"></div>
        </div>

        <!-- Footer Fragment -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</body>

</html>